@model IEnumerable<Zero_hunger2.DB.Accepted>

@{
    ViewBag.Title = "AcceptHistory";
}

<h2>AcceptHistory</h2>

<p>
    @Html.ActionLink("Create New", "AddAccept")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eid)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eid)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "AcEdit", new {  id=item.ResId }) |
            @Html.ActionLink("Details", "AcDetails", new { id = item.ResId }) |
            @Html.ActionLink("Delete", "AcDelete", new { id = item.ResId })
        </td>
    </tr>
}

</table>
