@model Zero_hunger2.DB.Accepted

@{
    ViewBag.Title = "AcDetails";
}

<h2>AcDetails</h2>

<div>
    <h4>Accepted</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResId)
        </dd>







        <dt>
            @Html.DisplayNameFor(model => model.Nid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nid)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NGO.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGO.Name)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Eid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eid)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Phone)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) |
    @Html.ActionLink("Back to List", "AcceptHistory")
</p>
